<div class="w-full">
  <h1 class="py-4 text-xl font-bold text-gray-500">Agregar Personaje</h1>

  <form class="gap-2 px-8 pt-6 pb-8 mb-4 bg-white rounded shadow-md" (submit)="emitCharacter()">
    <div class="flex flex-col gap-2 py-2">
      <input
        type="text"
        name="name"
        placeholder="Nombre"
        [(ngModel)]="character.name"
        class="p-2 border border-gray-200 rounded-md"
      />
      <input
        type="Poder"
        placeholder="Poder"
        name="power"
        [(ngModel)]="character.power"
        class="p-2 border border-gray-200 rounded-md"
      />
    </div>

    <div class="flex items-center justify-between w-full">
      <button
        class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline"
        type="onSubmit"
      >
        Agregar
      </button>
    </div>

    <pre>{{ character | json }}</pre>
  </form>
</div>
